.idea
.idea/*
/.idea/
/.idea
/.idea/dictionaries
/.idea/html-markup.iml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/.name
/.idea/modules.xml
/.idea/vcs.xml
/.idea/*

/bower_components/
/node_modules/
/*/bower_components/
/*/node_modules/
/*/*/bower_components/
/*/*/node_modules/
