@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800italic,800);

.shadow {
  @include transition(0.2s ease-out);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 2, 0.78);
}

.b-wrap {
  font-family: "Open Sans";
  font-weight: normal;
  font-style:  normal;
  font-size:   18px;
  line-height: 36px;
  color:       $gray-text;
}

.b-container {
  width:    1116px;
  margin:   0 auto;
  position: relative;
  z-index:  3;
}

.b-title {
  font-family:    "Raleway";
  font-weight:    600;
  font-style:     normal;
  font-size:      33px;
  line-height:    48px;
  text-align:     center;
  color:          #000000;
  padding-top:    31px;
  padding-bottom: 7px;
}

.b-subtitle {
  font-family:   "Open Sans";
  font-weight:   600;
  font-style:    normal;
  font-size:     18px;
  line-height:   36px;
  text-align:    center;
  color:         $gray-text;
  position:      relative;
  margin:        0 auto;
  width:         67%;
  margin-bottom: -9px;
  .e-subtitle-bold {
    font-size:   24px;
    line-height: 31px;
    font-weight: 700;
    display:     block;
  }
  .e-subtitle-new-line {
    display: block;
  }
  .e-before-line {
    bottom: -30px;
  }
}

.b-before {
  position:      relative;
  margin-bottom: 80px;
  .e-before-line {
    position:         absolute;
    width:            100px;
    height:           5px;
    bottom:           -30px;
    background-color: $green;
  }
}

.b-text {
  font-size:   18px;
  line-height: 36px;
  color:       $gray-text;
  font-family: "Open Sans";
  font-weight: 600;
}

.b-text-block {
  .b-container {
    width: 571px;
  }
  .b-title {
    width: 100%;
  }
  .b-subtitle {
    width: 100%;
  }
  .e-text-block-title {
    color:       $green;
    font-size:   24px;
    line-height: 40px;
    font-weight: 600;
    text-align:  center;
    .e-text-block-title-border {
      border-bottom: 1px solid $green;
    }
  }
  .e-text-block-text-container {
    .e-text-block-text {
      padding-top: 37px;
      text-align:  justify;
      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.b-header {
  text-align:       center;
  background-color: rgba(255, 255, 255, .7);
  padding-top:      9px;
  padding-bottom:   2px;
  .e-header-logo {
    display: inline-block;
    width:   266px;
    img {
      display: block;
    }
  }
}

.b-button {
  display:        inline-block;
  vertical-align: top;
  box-sizing:     border-box;
  cursor:         pointer;
  font-family:    "Open Sans";
  color:          #ffffff;
  font-size:      14px;
  line-height:    25px;
  &.m-button-submit {
    font-weight:      normal;
    background-color: $green-btn;
  }
  &.m-button-article {
    font-weight:      600;
    background-color: $green;
  }
}

.b-circle {
  display:        inline-block;
  vertical-align: top;
  border-radius:  50%;
  overflow:       hidden;
  font-size:      0;
  position:       relative;
  .e-circle-container-img {
    display:  inline-block;
    position: absolute;
    img {
      display: block;
    }
  }
}

.b-slider-first {
  width:    100%;
  height:   736px;
  position: absolute;
  top:      0;
  left:     0;
  .b-img-bg {
    top:        0;
    left:       0;
    right:      0;
    bottom:     0;
    position:   absolute;
    border-top: none;
  }
  .b-header {
    position: absolute;
    top:      0;
    left:     0;
    right:    0;
    z-index:  2;
  }

}

.b-under-first {
  color:      #ffffff;
  text-align: center;
  .e-under-first-text {
    font-size:      21px;
    line-height:    35px;
    font-weight:    bold;
    width:          59%;
    letter-spacing: -1px;
    margin:         0 auto;
  }
  .e-under-first-subtitle {
    font-family:   "Raleway";
    font-weight:   bold;
    font-size:     35px;
    line-height:   40px;
    margin:        0 auto;
    width:         69%;
    margin-top:    33px;
    margin-bottom: 33px;
  }
  .e-under-first-title {
    background-color: rgba(255, 255, 255, .1);
    font-family:      "Raleway";
    font-weight:      bold;
    font-size:        40px;
    line-height:      70px;
    padding-top:      28px;
    padding-bottom:   32px;
    width:            69%;
    margin:           0 auto;
    margin-top:       125px;
    margin-bottom:    22px;
    color:            $green;
    text-transform:   uppercase;
  }
  .b-youtube {
    width:  767px;
    height: 449px;
  }
  &.m-under-first-question{
    .b-youtube {
      width:auto;
      height: auto;
      margin-bottom: 75px;
      .firstBox{
        border-radius: 0;
        padding: 0;
      }
      #typeform{
        .form{
          .questions{
            margin-top: 0 !important;
            display: none !important;
          }
        }
      }
      .nameBox{
        padding-top: 20px;
      }
      .descBox{
        position: relative;
        background: #fff;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 20px;
      }
    }

  }
}

.b-youtube {
  box-sizing: border-box;
  margin:     0 auto;
  overflow:   hidden;
  color:#000;
  .e-youtube-player {

  }
}

.b-img-bg {
  background-repeat:   no-repeat;
  background-position: center;
  position:            relative;
  &:before {
    content:           "";
    position:          absolute;
    top:               0;
    left:              0;
    right:             0;
    bottom:            0;
    background-image:  url("../images/before-image.png");
    background-repeat: repeat;
    z-index:           1;
  }
  .e-img-bg-image {
    display: none;
  }
}

.b-image-line {
  .b-img-bg {
    padding-top:    28px;
    padding-bottom: 21px;
  }
  &.m-image-line-attention {
    .b-img-bg {
      &:before {
        display: none;
      }
    }
  }
}

.b-border {
  border-top:    5px solid $green-btn;
  border-bottom: 5px solid $green-btn;
  &.m-border-full {
    border: 14px solid $green-btn;
  }
}

.b-prize {
  padding-top:    30px;
  padding-bottom: 4px;
}

.b-prize-list {
  font-size:  0;
  text-align: center;
  width:      900px;
  margin:     0 auto;
  .e-prize-item {
    text-align:     center;
    width:          33.3%;
    display:        inline-block;
    vertical-align: top;
    position:       relative;
    box-sizing:     border-box;
    padding-top:    33px;
    padding-bottom: 26px;
    &:before {
      content:          "";
      position:         absolute;
      width:            1px;
      height:           403px;
      left:             0;
      top:              21px;
      background-color: #effbfa;
    }
    &:nth-child(3n+1) {
      &:before {
        display: none;
      }
    }
    .b-circle {
      background-color: $circle;
      width:            234px;
    }
    .e-prize-item-title {
      font-family:    "Raleway";
      font-weight:    600;
      font-size:      28px;
      line-height:    35px;
      color:          #000000;
      padding-top:    28px;
      padding-bottom: 13px;
    }
    .prize-item-text {
      font-size:   14px;
      line-height: 22px;
      color:       $gray-text;
      font-weight: 600;
      padding:     0 14%;
    }
  }
}

.b-math {
  .b-container {
    width: 810px;
  }
  .e-math-list {
    padding-top:    32px;
    padding-bottom: 50px;
    .e-math-item {
      position:     relative;
      color:        $gray-text;
      font-size:    18px;
      line-height:  30px;
      font-weight:  600;
      padding-left: 38px;
      margin-top:   30px;
      width:        810px;
      &:before {
        content:             "";
        position:            absolute;
        width:               26px;
        height:              26px;
        background-image:    url("../images/pl--yel.png");
        background-position: center;
        left:                0;
        top:                 3px;
      }
      &:nth-child(2n) {
        font-weight: 800;
        &:before {
          background-image: url("../images/pl---green.png");
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.b-attention {
  background-color: rgba(0, 0, 0, .8);
  border-radius:    7px;
  box-sizing:       border-box;
  padding:          0 16%;
  padding-top:      8px;
  padding-bottom:   19px;
  box-shadow:       0px 3px 8px 0px rgba(0, 0, 2, 0.78), inset 0px -2px 8px 0px rgba(255, 255, 255, 0.78);
  .e-attention-tittle {
    color:       $green-text;
    font-family: "Raleway";
    font-weight: 600;
    font-size:   33px;
    line-height: 48px;
    text-align:  center;
  }
  .b-title {
    color:       #ffffff;
    padding-top: 6px;
  }
  .e-attention-list {
    padding-top: 20px;
    .e-attention-item {
      padding-left:  40px;
      position:      relative;
      margin-top:    36px;
      padding-right: 7%;
      &:first-child {
        margin-top: 0;
      }
      .e-attention-item-num {
        font-family: "Raleway";
        font-weight: 700;
        font-size:   35px;
        line-height: 35px;
        position:    absolute;
        color:       #ffffff;
        left:        0;
        top:         0;
      }
      .e-attention-item-title {
        color:       $green-text;
        font-size:   18px;
        line-height: 36px;
        font-weight: 700;
        .small {
          font-weight: 400;
          color:       #ffffff;
        }
      }
      .e-attention-item-text {
        font-size:   18px;
        line-height: 36px;
        font-weight: 700;
        font-style:  italic;
        color:       #ffffff;
      }
    }
  }
}

.b-footer {
  text-align:       center;
  background-color: $green-dark;
  padding-top:      10px;
  padding-bottom:   3px;
  .e-footer-logo {
    display: inline-block;
    width:   262px;
  }
}


@media (max-width: 1200px) {
  .b-container {
    width:      100%;
    padding:    0 2%;
    box-sizing: border-box;
  }

  .b-prize-list {
    width: 100%;
  }

  .b-math {
    .b-container {
      width: 100%;
    }
    .e-math-list {
      .e-math-item {
        width:      100%;
        box-sizing: border-box;
      }
    }
  }

  .b-under-first {
    .b-youtube {
      width: 100%;
    }
  }

  .b-under-first {
    .e-under-first-title {
      font-size: 38px;
      width:     92%;
    }
  }
}

@media (max-width: 700px) {
  .b-under-first {
    .e-under-first-title {
      width:       100%;
      line-height: 35px;
      font-size:   29px;
    }
    .e-under-first-subtitle {
      font-size:   25px;
      line-height: 30px;
      width:       100%;
    }
    .b-youtube {
      height: 300px;
    }
  }
  .b-text-block {
    .b-container {
      width: 100%;
    }
  }
  .b-slider-first {
    height: 600px;
  }

  .b-prize-list {
    .e-prize-item {
      .b-circle {
        width: 100px;
        .e-circle-container-img {
          width: 60%;
        }
      }
    }
  }

  .b-attention {
    padding: 10px 7%;

  }
}

@media (max-width: 400px) {
  .b-prize-list {
    .e-prize-item {
      width: 100%;
      &:before {
        display: none;
      }
      .prize-item-text {
        padding: 0 9%;
      }
    }
  }

  .b-title {
    font-size:   28px;
    line-height: 40px;
  }

  .b-attention {
    .e-attention-list {
      .e-attention-item {
        .e-attention-item-title {
          font-size:   15px;
          line-height: 27px;
        }
        .e-attention-item-text {
          font-size:   15px;
          line-height: 27px;
        }
      }
    }
  }
}