body,
ul,
p,
h1,
h2,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}
button {
  color: inherit;
  background-color: transparent;
}
button a {
  display: block;
}
a {
  color: inherit;
}
img {
  width: 100%;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
.h-fix-inline-block {
  font-size: 0;
}
