@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icons/icomoon.eot?whagy0');
    src:    url('../fonts/icons/icomoon.eot?whagy0#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.ttf?whagy0') format('truetype'),
        url('../fonts/icons/icomoon.woff?whagy0') format('woff'),
        url('../fonts/icons/icomoon.svg?whagy0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Forma15:before {
    content: "\e910";
}
.icon-Forma1-14:before {
    content: "\e911";
}
.icon-Forma1-24:before {
    content: "\e912";
}
.icon-Forma1-3:before {
    content: "\e913";
}
.icon-Forma1-4:before {
    content: "\e914";
}
.icon-Forma14:before {
    content: "\e90d";
}
.icon-Forma1-13:before {
    content: "\e90e";
}
.icon-Forma1-23:before {
    content: "\e90f";
}
.icon-comp:before {
    content: "\e800";
}
.icon-list:before {
    content: "\e801";
}
.icon-medal:before {
    content: "\e802";
}
.icon-clients:before {
    content: "\e803";
}
.icon-computer:before {
    content: "\e804";
}
.icon-idea:before {
    content: "\e805";
}
.icon-roket:before {
    content: "\e806";
}
.icon-fine:before {
    content: "\e807";
}
.icon-ip:before {
    content: "\e808";
}
.icon-other_plane:before {
    content: "\e809";
}
.icon-click:before {
    content: "\e80a";
}
.icon-lid:before {
    content: "\e80b";
}
.icon-list-1:before {
    content: "\e80c";
}
.icon-puzle1-1:before {
    content: "\e80d";
}
.icon-chempion:before {
    content: "\e80e";
}
.icon-money:before {
    content: "\e80f";
}
.icon-other:before {
    content: "\e810";
}
.icon-mouse:before {
    content: "\e811";
}
.icon-tool832:before {
    content: "\e812";
}
.icon-lightbulb22:before {
    content: "\e813";
}
.icon-heart365:before {
    content: "\e814";
}
.icon-chat73:before {
    content: "\e815";
}
.icon-people-money:before {
    content: "\e816";
}
.icon-puls:before {
    content: "\e817";
}
.icon-safe:before {
    content: "\e818";
}
.icon-set:before {
    content: "\e819";
}
.icon-start:before {
    content: "\e81a";
}
.icon-tabl:before {
    content: "\e81b";
}
.icon-chemp:before {
    content: "\e81c";
}
.icon-Forma1:before {
    content: "\e900";
}
.icon-Forma1-1:before {
    content: "\e901";
}
.icon-Forma1-2:before {
    content: "\e902";
}
.icon-Forma12:before {
    content: "\e903";
}
.icon-Forma1-12:before {
    content: "\e904";
}
.icon-Forma1-22:before {
    content: "\e905";
}
.icon-icon1:before {
    content: "\e906";
}
.icon-icon2:before {
    content: "\e907";
}
.icon-icon3:before {
    content: "\e908";
}
.icon-design:before {
    content: "\e909";
}
.icon-easy:before {
    content: "\e90a";
}
.icon-Forma13:before {
    content: "\e90b";
}
.icon-support:before {
    content: "\e90c";
}



