<div class="b-first" style="background-image: url('../img/@@image')">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="e-first-container">
          <div class="t">
            <div class="c">
              <h1 class="e-first-title">@@title</h1>
              @@subtitle
            </div>
          </div>
        </div>
        @@if (page === 'index') {
        <div class="b-first-footer">
          <p class="e-first-footer-title">Что для вас наиболее актуально сегодня?</p>
          <ul class="b-button-list">
            <li class="e-button-item">
              <button class="b-button" data-button="1">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-sm">хочу стать</span><span class="e-button-text-b">счастливой в отношениях</span></span></span></span>
                                </span>
              </button>
            </li>
            <li class="e-button-item">
              <a href="#" class="b-button m-button-green">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-sm">хочу стать</span><span class="e-button-text-b">финансово независимой</span></span></span></span>
                                </span>
              </a>
            </li>
          </ul>
          <a href="#second" class="b-arrow-first">
            <img src="../img/arrow.png" alt="">
          </a>
        </div>
        }
        @@if (page === 'products') {
        <div class="b-first-footer">
          <p class="e-first-footer-title">Какие материалы вам интересны сегодня?</p>
          <ul class="b-button-list">
            <li class="e-button-item">
              <a href="#sound" class="b-button">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-29">Аудио продукты</span></span></span></span>
                                </span>
              </a>
            </li>
            <li class="e-button-item">
              <a href="#videos" class="b-button m-button-green">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-29">Видео Курсы</span></span></span></span>
                                </span>
              </a>
            </li>
          </ul>
          <a href="#second" class="b-arrow-first">
            <img src="../img/arrow.png" alt="">
          </a>
        </div>
        }
        @@if (page === 'indevid') {
        <div class="b-first-footer m-first-footer-long">
          <p class="e-first-footer-title"> Какой вариант работы со мной вас интересует?</p>
          <ul class="b-button-list m-button-list-short">
            <li class="e-button-item">
              <a href="#g1" class="b-button m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20">Индивидуальная </span>
                                                                        <span class="e-button-text-20">консультация</span>
                                                                        </span></span></span>
                                </span>
              </a>
            </li>
            <li class="e-button-item">
              <a href="#g2" class="b-button m-button-green m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20"><span class="e-button-num">30</span>-ти дневный</span>
                                                                        <span class="e-button-text-20">коучинг</span>
                                                                    </span></span></span>
                                </span>
              </a>
            </li>
            <li class="e-button-item">
              <a href="#g3" class="b-button m-button-white m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20"><span class="e-button-num">60</span>-ти дневный</span>
                                                                        <span class="e-button-text-20">коучинг</span>
                                                                    </span></span></span>
                                </span>
              </a>
            </li>
          </ul>
          <a href="#g1" class="b-arrow-first">
            <img src="../img/arrow.png" alt="">
          </a>
        </div>
        }
        @@if (page === 'baza') {
        <div class="b-first-footer m-first-footer-long">
          <p class="e-first-footer-title">Знания какого типа вам сегодня интересны?</p>
          <ul class="b-button-list m-button-list-short">
            <li class="e-button-item">
              <a href="#second" class="b-button m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20">Факультет</span>
                                                                        <span class="e-button-text-20">развития женственности</span>
                                                                        <span class="e-button-text-20">и сексуальности</span></span></span></span>
                                </span>
              </a>
            </li>
            <li class="e-button-item">
              <a href="#" class="b-button m-button-green m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20">Факультет</span>
                                                                        <span class="e-button-text-20">самореализации</span>
                                                                        <span class="e-button-text-20">и привлечения денег</span>
                                                                    </span></span></span>
                                </span>
              </a>
            </li>
            <li class="e-button-item">
              <a href="#" class="b-button m-button-white m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text">
                                                                        <span class="e-button-text-20">Факультет</span>
                                                                        <span class="e-button-text-17">физического и энергетического</span>
                                                                        <span class="e-button-text-20">здоровья</span>
                                                                    </span></span></span>
                                </span>
              </a>
            </li>
          </ul>
          <a href="#second" class="b-arrow-first">
            <img src="../img/arrow.png" alt="">
          </a>
        </div>
        }
        @@if (page === 'empty') {

        }

      </div>
    </div>
  </div>
</div>