<footer class="b-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="b-social">
          <p class="e-social-title">Присоединяйтесь к нам в соц. сетях:</p>
          <ul class="b-social-list">
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-g">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-t">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-v">
                <i class="fa fa-vk" aria-hidden="true"></i>
              </a>
            </li>
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-r">
                <i class="fa fa-rss" aria-hidden="true"></i>
              </a>
            </li>
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-f">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="e-social-item">
              <a href="#" class="e-social-link m-social-link-o">
                <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="e-footer-center col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <span class="e-footer-text m-footer-text-left">Политика конфиденциальности</span>
        <span class="e-footer-text m-footer-text-right">Согласие с рассылкой</span>
        <p class="e-footer-text m-footer-text-p-t">© 2016 Светлана Нагородная - Все права защищены</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="e-footer-feedback">
          <p class="e-footer-feedback-title">Для связи с нами:</p>
          <a href="mailto:sveta@snagorodnaya.com" class="e-footer-feedback-mail">sveta@snagorodnaya.com</a>
        </div>
      </div>
    </div>
  </div>
</footer>