<div class="b-last">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-lg-offset-5 col-md-7 col-md-offset-5 col-sm-8 col-sm-offset-4 col-xs-12">
        <div class="e-last-container">
          <h2 class="e-last-title">Хотите иметь финансовый
            достаток и при этом
            оставаться женственной?</h2>
          <h3 class="e-last-subtitle">Присоединяйтесь к нам, и получите 4 бесплатных видео урока, которые шаг за шагом
            будут менять вашу жизнь к лучшему</h3>
          <form action="submit" class="b-form">
            <div class="b-input-container">
              <input type="text" class="b-input" placeholder="Имя">
            </div>
            <div class="b-input-container">
              <input type="email" class="b-input" placeholder="Email">
            </div>
            <div class="b-input-container">
              <input type="text" name="num" class="b-input" placeholder="Номер телефона">
            </div>
            <button type="submit" class="b-button m-button-sm m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span
                                                                      class="e-button-text"><span
                                                                      class="e-button-text-b">Присоединиться</span></span></span></span>
                                </span>
            </button>
          </form>
          <div class="e-last-studio-container">
            <a href="#" class="b-studio">Web-Studio: Wooo.Red</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>