<li class="e-news-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="b-news">
  <div class="e-news-img-container" style="background-image: url('../img/@@image')">
    <div class="e-news-title-container">
      <div class="t">
        <div class="c">
          <p class="e-news-subtitle">@@subtitle</p>
          <p class="e-news-title">@@title</p>
        </div>
      </div>
    </div>
  </div>
  <div class="e-news-text-container">
    <h4 class="e-news-text-title">Lorem ipsum </h4>
    <p class="e-news-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    <div class="e-news-text-footer">
      <a href="#" class="b-button-news">
        <span class="t"><span class="c"><span class="e-button-text">Читать <i class="e-button-arrow fa fa-long-arrow-right" aria-hidden="true"></i></span></span></span>
      </a>
    </div>
  </div>
</div>
</li>