<div class="b-overlay"></div>
<div class="b-popup-overlay" data-modal="1">
  <div class="b-popup">
    <button class="b-close"></button>
    <p class="e-popup-title">Хотите чтобы мы вам перезвонили?</p>
    <p class="e-popup-subtitle">
      <span class="m-new-line">Введите свои данные в форму ниже, </span>
      <span class="m-new-line">и мы перезвоним вам в ближайшее время:</span>
    </p>
    <form action="submit" class="b-form m-form-white m-form-horizontal">
      <div class="b-input-container m-input-container-name">
        <input type="text" class="b-input" placeholder="Имя">
      </div>
      <div class="b-input-container m-input-container-email">
        <input type="email" class="b-input" placeholder="Email">
      </div>
      <div class="b-input-container m-input-container-code">
        <input type="text" name="num" class="b-input" maxlength="4" placeholder="Код страны">
      </div>
      <div class="b-input-container m-input-container-tel">
        <input type="text" name="num" class="b-input" placeholder="Телефон">
      </div>
      <button type="submit" class="b-button m-button-sm">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span
                                                                      class="e-button-text"><span
                                                                      class="e-button-text-b">ПЕРЕЗВОНИТЕ МНЕ</span></span></span></span>
                                </span>
      </button>
    </form>
  </div>
</div>
<div class="b-popup-overlay" data-modal="2">
  <div class="b-popup m-popup-modal">
    <button class="b-close"></button>
    <div class="e-popup-container">
      <div class="e-popup-left" style="background-image: url('../img/p7-big.jpg')"></div>
      <div class="e-popup-right">
        <div class="b-progress"><span class="e-progress-text">50%</span></div>
        <div class="e-popup-text-container">
          <p class="e-popup-text">Хочешь обрести настоящее женской счастье, и стать счастливой в отношениях?</p>
          <p class="e-popup-text">Введи свои данные в поле ниже, и получите
            набор из 9-ти чек-листов по изменению женской судьбы</p>
        </div>
        <form action="submit" class="b-form m-form-white">
          <div class="b-input-container">
            <input type="text" class="b-input" placeholder="Имя">
          </div>
          <div class="b-input-container">
            <input type="email" class="b-input" placeholder="Email">
          </div>
          <button type="submit" class="b-button m-button-sm m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-b">Получить чек-листы</span></span></span></span>
                                </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="b-popup-overlay" data-modal="3">
  <div class="b-popup m-popup-modal">
    <button class="b-close"></button>
    <div class="e-popup-container">
      <div class="e-popup-left" style="background-image: url('../img/p7-big.jpg')"></div>
      <div class="e-popup-right">
        <div class="b-progress"><span class="e-progress-text">50%</span></div>
        <div class="e-popup-text-container">
          <p class="e-popup-text">Хотите реализовать весь свой женский потенциал, и стать счастливой занимаясь любимым делом?</p>
          <p class="e-popup-text">Введи свои данные в поле ниже, и получите
            100% процентов работающие практики
            на привлечение денег</p>
        </div>
        <form action="submit" class="b-form m-form-white">
          <div class="b-input-container">
            <input type="text" class="b-input" placeholder="Имя">
          </div>
          <div class="b-input-container">
            <input type="email" class="b-input" placeholder="Email">
          </div>
          <button type="submit" class="b-button m-button-sm m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-b">ПОЛУЧИТЬ ПРАКТИКИ</span></span></span></span>
                                </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="b-popup-overlay" data-modal="4">
  <div class="b-popup m-popup-modal">
    <button class="b-close"></button>
    <div class="e-popup-container">
      <div class="e-popup-left" style="background-image: url('../img/p7-big.jpg')"></div>
      <div class="e-popup-right">
        <div class="b-progress"><span class="e-progress-text">50%</span></div>
        <div class="e-popup-text-container">
          <p class="e-popup-text">Хотите реализовать весь свой женский потенциал, и стать счастливой занимаясь любимым делом?</p>
          <p class="e-popup-text">Введи свои данные в поле ниже, и получите
            100% процентов работающие практики
            на привлечение денег</p>
        </div>
        <form action="submit" class="b-form m-form-white">
          <div class="b-input-container">
            <input type="text" class="b-input" placeholder="Имя">
          </div>
          <div class="b-input-container">
            <input type="email" class="b-input" placeholder="Email">
          </div>
          <button type="submit" class="b-button m-button-sm m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-b">ПОЛУЧИТЬ</span></span></span></span>
                                </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="b-popup-overlay" data-modal="5">
  <div class="b-popup m-popup-modal">
    <button class="b-close"></button>
    <div class="e-popup-container">
      <div class="e-popup-left" style="background-image: url('../img/p8.jpg')"></div>
      <div class="e-popup-right">
        <p class="e-popup-title">Диск “Сила Женственности”</p>
        <div class="e-popup-text-container m-popup-text-container-big">
          <p class="e-popup-text">Хотите реализовать весь свой женский потенциал, и стать счастливой занимаясь любимым делом?</p>
          <p class="e-popup-text">Введи свои данные в поле ниже, и получите
            100% процентов работающие практики
            на привлечение денег Хотите реализовать весь свой женский потенциал, и стать счастливой занимаясь любимым делом?</p>
          <p class="e-popup-text">Введи свои данные в поле ниже, и получите
            100% процентов работающие практики
            на привлечение денег</p>
        </div>
        <form action="submit" class="b-form m-form-white">
          <button type="submit" class="b-button m-button-sm m-100">
                                <span class="e-button-container anim">
                                                                    <span class="t"><span class="c"><span class="e-button-text"><span class="e-button-text-b">Заказать</span></span></span></span>
                                </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>