h1,
h2 {
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
body {
  font-family: "OpenSans";
  font-weight: normal;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.h-fix-inline-block {
  font-size: 0;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.b-wrap {
  background-color: black;
}
.b-container {
  margin: 0 auto;
  min-width: 1200px;
  max-width: 1200px;
  padding-top: 73px;
  padding-bottom: 84px;
}
.b-container:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.slide {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.b-title {
  font-family: "Candara";
  font-weight: normal;
  text-align: center;
  font-size: 36px;
  color: #ffffff;
}
.b-subtitle {
  font-family: "Candara";
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  line-height: 48px;
  color: #ffffff;
}
.b-button {
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 24px;
  line-height: 48px;
  color: #fefefe;
  background-color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 246px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #606060;
  box-shadow: inset 0px 1px 0px 0px #202020, inset 1px 0px 0px 0px #202020, inset -1px 0px 0px 0px #202020, inset 0px -1px 0px 0px #202020;
}
.b-button i {
  font-size: 16px;
  padding-left: 11px;
}
.b-button.h-button-sent {
  width: 235px;
  border: 1px solid #5f3232;
  padding-top: 3px;
  padding-bottom: 4px;
  box-shadow: inset 0px 1px 0px 0px #1f1010, inset 1px 0px 0px 0px #1f1010, inset -1px 0px 0px 0px #1f1010, inset 0px -1px 0px 0px #1f1010;
}
.b-content-right {
  width: 590px;
  text-align: center;
}
.b-content-right .e-content-right-text {
  color: #fefefe;
  text-align: center;
  padding-left: 21px;
  padding-right: 25px;
  line-height: 40px;
  letter-spacing: 1.5px;
  position: relative;
}
.b-content-right .e-content-right-text span {
  position: relative;
  z-index: 1;
}
.b-content-right .e-content-right-text:before {
  content: "“";
  position: absolute;
  font-family: 'TimesNewRoman';
  color: #430912;
  font-size: 143px;
  line-height: 100px;
  z-index: 0;
  left: -26px;
  top: -26px;
}
.b-content-right .e-content-right-text:after {
  content: "“";
  position: absolute;
  font-family: 'TimesNewRoman';
  color: #202020;
  font-size: 240px;
  line-height: 100px;
  z-index: 0;
  right: 56px;
  bottom: -12px;
}
.b-youtube {
  text-align: center;
}
.b-youtube .e-youtube-title {
  font-family: "MyriadPro";
  font-size: 12px;
  color: #fefefe;
  letter-spacing: 0.45px;
  word-spacing: 3px;
}
.b-youtube .e-youtube-video:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.b-youtube .e-youtube-video li {
  float: left;
  padding-right: 19px;
}
.b-youtube .e-youtube-video li .video {
  width: 196px;
  height: 174px;
}
.b-youtube .e-youtube-video li:last-child {
  padding-right: 0;
}
.b-process {
  padding-left: 58px;
  padding-right: 20px;
}
.b-process:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.b-process .e-process-text {
  color: #000000;
  width: 370px;
  line-height: 29px;
  position: relative;
}
.b-process .e-process-text:before {
  content: "";
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  width: 38px;
  height: 34px;
  left: -51px;
  position: absolute;
}
.b-process .pull-right {
  width: 272px;
}
.b-process.h-process-small {
  padding: 0 101px;
  padding-bottom: 62px;
}
.b-process.h-process-small .e-process-text:before {
  left: -45px;
  top: -1px;
}
.b-process.h-process-small .pull-right {
  width: 247px;
}
.b-block-opacity {
  background-color: rgba(37, 37, 37, 0.5);
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e6e6e6;
  width: 980px;
}
.b-block-opacity .e-block-opacity-text {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 42px;
  padding-right: 46px;
  padding-bottom: 11px;
}
.b-block-opacity .e-block-opacity-more {
  padding-bottom: 55px;
}
.b-block-opacity .e-block-opacity-more a {
  font-size: 15px;
  text-decoration: underline;
  color: #ffffff;
}
.b-block-opacity .e-block-opacity-title {
  font-size: 30px;
  line-height: 30px;
  font-family: "OpenSans";
  font-weight: normal;
  text-transform: none;
  padding-top: 41px;
  padding-bottom: 39px;
}
.b-block-opacity.h-block-opacity-small {
  width: 587px;
  margin-top: 28px;
  padding-top: 22px;
  padding-bottom: 50px;
  border: none;
}
.b-comments {
  padding: 0 122px;
}
.b-comments li {
  background-color: #ededed;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding-top: 15px;
  padding-right: 16px;
  padding-left: 23px;
  padding-bottom: 16px;
  margin-bottom: 32px;
}
.b-comments li:last-child {
  margin-bottom: 0px;
}
.b-comments li .e-comments-text {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 9px;
}
.b-comments li .e-comments-user {
  font-size: 18px;
  line-height: 30px;
  font-family: "OpenSans";
  font-weight: 500;
  color: #000000;
}
.b-message {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  padding-top: 23px;
  padding-bottom: 46px;
  display: block;
}
.b-input {
  font-size: 15px;
  line-height: 29px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #5f5f5f;
  box-shadow: inset 0px 1px 0px 0px #1f1f1f, inset 1px 0px 0px 0px #1f1f1f, inset -1px 0px 0px 0px #1f1f1f, inset 0px -1px 0px 0px #1f1f1f;
  width: 238px;
  margin-right: 11px;
  padding-left: 37px;
  word-spacing: 2px;
  padding-right: 20px;
}
.b-input:nth-child(3n) {
  margin-right: 0;
}
.b-input.h-input-user {
  background-image: url("../img/user-icon.png");
  background-repeat: no-repeat;
  background-position: 9px;
}
.b-input.h-input-phone {
  background-image: url("../img/phone-icon.png");
  background-repeat: no-repeat;
  background-position: 9px;
}
.b-input.h-input-mail {
  background-image: url("../img/mail-icon.png");
  background-repeat: no-repeat;
  background-position: 9px;
}
.b-form {
  padding-left: 28px;
  padding-right: 28px;
  text-align: left;
}
.b-form .b-button {
  display: block;
  margin: 0 auto;
  margin-top: 28px;
}
header .b-container {
  background-image: url("../img/vine-glass.png");
  background-repeat: no-repeat;
  background-position-x: 5px;
  padding-bottom: 78px;
}
header .b-container .b-content-right {
  padding-right: 106px;
  padding-top: 46px;
}
header .b-container .b-content-right .b-title {
  padding-bottom: 24px;
}
header .b-container .b-content-right .b-subtitle {
  padding-bottom: 50px;
}
header .b-container .b-content-right .b-button {
  margin-bottom: 74px;
}
header .b-container .b-content-right .e-content-right-text {
  padding-bottom: 70px;
}
header .b-container .b-content-right .b-youtube {
  padding: 0 89px;
}
.bg-jar {
  background-image: url("../img/kuv.png");
  background-repeat: no-repeat;
  padding-bottom: 114px;
  background-position-x: 47%;
}
.slide-1 {
  background-image: url("../img/gray.jpg");
}
.slide-1 .b-title {
  font-weight: bold;
  padding-bottom: 90px;
}
.slide-2 {
  background-image: url("../img/girls.png");
}
.slide-2 .b-title {
  font-weight: bold;
}
.slide-3 {
  background-image: url("../img/gray-2.jpg");
}
.slide-3 .b-title {
  font-weight: bold;
  padding-bottom: 28px;
}
.slide-4 {
  position: relative;
}
.slide-4 .b-title {
  font-weight: bold;
  padding-bottom: 38px;
}
.slide-4 .b-block-opacity {
  position: relative;
  z-index: 2;
}
.b-footer-bg-right {
  position: absolute;
  z-index: 1;
  width: 50%;
  background-image: url("../img/vinturi-footer-2.png");
  background-position-x: 95%;
  background-position-y: 41px;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  bottom: 0;
}
.b-footer-bg-left {
  position: absolute;
  z-index: 1;
  width: 50%;
  background-image: url("../img/vinturi-footer.png");
  background-repeat: no-repeat;
  background-position-x: 21%;
  background-position-y: 1px;
  left: 0;
  top: 0;
  bottom: 0;
}
.h-color-red {
  color: #db0007;
}
